#top_menu {
    margin: 0;
    padding: 0;
}

#top_menu li {
    margin: 10px 20px;
}


main {
    margin: 0 auto;
}

article {
    margin-right: 20px;
}



nav h3 {
    margin: 0;
    padding: 10px;
}

#categories {
    padding: 0;
}

#categories li {
    margin: 0;
    padding: 10px;
}


footer {
    margin: 0;
    padding: 10px;
}

